$imageWidth: 100%;
$menuHeight: 100%;

#imageSection{
  position: absolute;
  width: $imageWidth;
  height: $menuHeight;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  
}

#imageSection canvas{
  transform: translate(-50%, -50%);
}

#imageSection #img_container{
  position: relative;
  width: 0px;
  left: 50%;
  top: 50%;
  
}

#dragDropRegion {
  width: 250px;
  height: 250px;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  
}

#dragDropRegion img {
  max-height: 100%;
  max-width: 100%;
  
}

#dragDropRegion #dragDropOptions {
  text-align: center;
  font-family: monospace;
  font-size: 10pt;
  padding: 10px;
  
}

#dragDropRegion #dragDropOptions input {
  margin-top: 10px;
  
}