@import "site/partials/menuSection.scss";
@import "site/partials/imageSection.scss";
@import "site/partials/container.scss";

$bgColor: #ddd;

body {
  margin: 0px;
  background-color: $bgColor;
  overflow:hidden;
}

i {
  color: white;
}

i :hover {
  color: red !important;
}

a {
  margin: 0;
}

#overlay a {
  display: inline-flex;
  color: white;
  padding-left: 5px;
}

#repo_icon {
  margin: none;
  display: inline-flex;
  float: left;
  font-size: 15px;
}

#btnIcon {
  
  position: absolute;
  bottom: 2px;
  right: 10px;
  
}

#menuIcon {
  margin-left: -12px;
  margin-top: -5px;
}

#overlay {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  background-color: rgba(0,0,0,0.75);
  display: none;
}

#overlay div {
  padding: 20px;
}

#overlay p {
  color: white;
  font-family: monospace !important;
  font-size: 15px;
}

#text {
  font-family: monospace !important;
  font-size: 12px !important;
}